Package: de.ng.siriexecutor
Name: SiriExecutor
Version: 1.0.2
Description: Assistant+ plugin for shell commands
Section: Tweaks
Depends: firmware (>= 8.0), org.thebigboss.assistantplus
Priority: optional
Architecture: iphoneos-arm
Author: luke <luke@peng-u-in.de>
Depiction: http://repo.peng-u-in.de/deps/index_new.php?id=de.ng.siriexecutor
Maintainer: luke <luke@peng-u-in.de>
